faiss-cpu
langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
fastembed
pdfplumber
pdf2image
pytesseract
docx2txt
python-dotenv
streamlit
pydantic
langgraph
duckduckgo-search
fpdf2
beautifulsoup4
requests
plotly
tenacity
